/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  overflow-y: scroll;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.navbar-static-top {
  margin-bottom: 19px;
}

/* ----------- Fonts --------------- */

@font-face {
  font-family: 'Aaargh';
  src: url('../../fonts/editor/Aaargh/Aaargh.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/editor/Aaargh/Aaargh.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('ttf'), /* Super Modern Browsers */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('truetype'), /* Safari, Android, iOS */
}