/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  overflow-y: scroll;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.crop {
	overflow:hidden
}

.bottom-space {
	padding-bottom : 5px
}

.bottom-space-margin {
	margin-bottom : 5px
}

.scrollxy {
	overflow : scroll
}

.no-padding {
	padding : 0px
}
.top-bottom-padding-5 {
	padding-top : 5px;
	padding-bottom : 5px
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 15px;
}
.dragover {
	background: #99FF33;
    border: 5px dashed blue;
}

.icon-star-empty::before {
    -webkit-text-shadow: 1px 0px 3px rgb(159, 92, 74);
    text-shadow: 1px 0px 3px rgb(159, 92, 74);
    font-size: x-large;
    color: #ffe200;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.navbar-static-top {
  margin-bottom: 19px;
}

/* ----------- Fonts --------------- */

@font-face {
  font-family: 'Aaargh';
  src: url('../../fonts/editor/Aaargh/Aaargh.ttf'); /* IE9 Compat Modes */
  src: url('../../fonts/editor/Aaargh/Aaargh.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('ttf'), /* Super Modern Browsers */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('ttf'), /* Pretty Modern Browsers */
       url('../../fonts/editor/Aaargh/Aaargh.ttf') format('truetype'), /* Safari, Android, iOS */
}