<div ng-controller="CategoriesController">
	<nav class="navbar navbar-default navbar-static-top" >
	  <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" ng-click="mobile.collapsed = !mobile.collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" ng-click="visible('home')">DROOK</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse" uib-collapse="mobile.collapsed">
		  <ul class="nav navbar-nav">
			<li ng-class="{active: categories.businessCards.expanded}"><a href="#" ng-click="expand('businessCards')">Business Cards</a></li>
			<li ng-class="{active: categories.invitations.expanded}"><a href="#" ng-click="expand('invitations')">Invitations</a></li>
			<li ng-class="{active: categories.leaflets.expanded}"><a href="#" ng-click="expand('leaflets')">Leaflets</a></li>

			<li class="dropdown" uib-dropdown>
				<a href="#" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				</ul>
			</li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#" ng-click="visible('contact')">Contact</a></li>
			<li><a href="#" ng-click="visible('basket')">Basket</a></li>
			<li><a href="#" ng-click="visible('profile')">Profile</a></li>
		  </ul>
		</div><!--/.nav-collapse -->
	  </div>
	</nav>
	<!-- expanded category -->
	<div id="expandedCategory" class="container">
		<script type="text/ng-template" id="businessCards.thumbnail.tpl">
			<div class="col-sm-{{item.thumbnailSize}}" >
				<a href="#" ng-click="itemClick(item)" class="thumbnail">
					<div class="row">
						<div class="col-md-6">
							<img ng-src="{{item.icon}}" alt="{{item.title}}" class="img-responsive">
						</div>
						<div class="col-md-6">
							<h3>{{item.title}} </h3>
							<p>{{item.desc}}</p>
						</div>
					</div>
				</a>
			</div>
		</script>
	
		<script type="text/ng-template" id="standard.thumbnail.tpl">
			<div class="col-sm-{{item.thumbnailSize}}" >
				<a href="#" ng-click="itemClick(item)" class="thumbnail">
					<div class="row">
						<div class="col-md-6">
							<img ng-src="{{item.icon}}" alt="{{item.title}}" class="img-responsive">
						</div>
						<div class="col-md-6">
							<h3>{{item.title}} </h3>
							<p>{{item.desc}}</p>
						</div>
					</div>
				</a>
			</div>
		</script>
	
		<div id="leaflets" class="row slideable">
			<div ng-repeat="thumbnail in categories.leaflets.thumbnails">
				<span ng-if="$index % 6 == 0">
					<div class="row">
						<div ng-if="categories.leaflets.thumbnails[$index+0]"><thumbnail item="categories.leaflets.thumbnails[$index+0]" item-click="clicked(categories.leaflets.thumbnails[$index+0])"></thumbnail></div>
						<div ng-if="categories.leaflets.thumbnails[$index+1]"><thumbnail item="categories.leaflets.thumbnails[$index+1]" item-click="clicked(categories.leaflets.thumbnails[$index+1])"></thumbnail></div>
						<div ng-if="categories.leaflets.thumbnails[$index+2]"><thumbnail item="categories.leaflets.thumbnails[$index+2]" item-click="clicked(categories.leaflets.thumbnails[$index+2])"></thumbnail></div>
						<div ng-if="categories.leaflets.thumbnails[$index+3]"><thumbnail item="categories.leaflets.thumbnails[$index+3]" item-click="clicked(categories.leaflets.thumbnails[$index+3])"></thumbnail></div>
					</div>
				</span>
			</div>
		</div>
		
		<div id="businessCards" class="row slideable">
			<div ng-repeat="thumbnail in categories.businessCards.thumbnails">
				<span ng-if="$index % 6 == 0">
					<div class="row">
						<div ng-if="categories.businessCards.thumbnails[$index+0]"><thumbnail item="categories.businessCards.thumbnails[$index+0]" item-click="clicked(categories.businessCards.thumbnails[$index+0])"></thumbnail></div>
						<div ng-if="categories.businessCards.thumbnails[$index+1]"><thumbnail item="categories.businessCards.thumbnails[$index+1]" item-click="clicked(categories.businessCards.thumbnails[$index+1])"></thumbnail></div>
						<div ng-if="categories.businessCards.thumbnails[$index+2]"><thumbnail item="categories.businessCards.thumbnails[$index+2]" item-click="clicked(categories.businessCards.thumbnails[$index+2])"></thumbnail></div>
					</div>
				</span>
			</div>
		</div>
		<div id="invitations" class="row slideable">
			<div ng-repeat="thumbnail in categories.invitations.thumbnails">
				<span ng-if="$index % 6 == 0">
					<div class="row">
						<div ng-if="categories.invitations.thumbnails[$index+0]"><thumbnail item="categories.invitations.thumbnails[$index+0]" item-click="clicked(categories.invitations.thumbnails[$index+0])"></thumbnail></div>
						<div ng-if="categories.invitations.thumbnails[$index+1]"><thumbnail item="categories.invitations.thumbnails[$index+1]" item-click="clicked(categories.invitations.thumbnails[$index+1])"></thumbnail></div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>