
<div ng-controller="ElementController">
	
	<uib-accordion>
		<div uib-accordion-group heading="{{ uploads.title }}" template-url="templates/upload.html" is-open="true">
		<ul class="list-group">
			<li class="list-group-item crop">
				
				<div class="drop-box" accept="image/*"
					ngf-drop="upload(files)" 
					ng-model="files"  
					ngf-drag-over-class="'dragover'" 
					ngf-multiple="true" 
					ngf-allow-dir="true"
					ngf-pattern="'image/*'">

						<div class="btn btn-primary btn-sm text-center" role="button" ngf-select="upload(files)" ng-model="files" ngf-multiple="true" ngf-capture="'camera'" >Select Files</div>
						<br><small>Drop images here or click to upload</small>
				</div>
				<div ngf-no-file-drop>
					File Drag/Drop is not supported for this browser
				</div>
				<!--<input type="file" onchange="angular.element(this).scope().fileSelected(this)" accept="image/*" id="fabricImgFile" ng-model="selectedImgFile"/>-->
			</li>
			<li class="list-group-item crop">
				Files:
				<ul>
					<li ng-repeat="f in files" style="font:smaller">{{ f.name }} {{ f.$error }} {{ f.$errorParam }}</li>
				</ul>
				Upload Log:
				<pre>{{ log }}</pre>
				<div class="panel-body" style="text-align: right"></div>
			</li>
		</ul>

			<table class="table table-condensed">
				<tbody>
					<tr ng-repeat="member in uploads.members">
						<td ng-click="selectElement(member)">
							<div class="row">
								<div class="col-sm-12">
									<img id="{{ member.elementId }}" ng-src="images/elements/{{ uploads.name }}/{{ member.img }}" class="img-thumbnail" alt="Member Image" />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			 <button ng-click="getPolicy()">Get Policy</button>
		</div>

		<div uib-accordion-group heading="{{ element.title }}" ng-click='loadElement(element)' ng-repeat="element in elements">
			<table class="table table-condensed">
				<tbody>
					<tr ng-repeat="member in element.members">
						<td ng-click="selectElement(member)">
							<div class="row">
								<div class="col-sm-12">
									<img id="{{ member.elementId }}" ng-src="images/elements/{{ element.name }}/{{ member.img }}" class="img-thumbnail" alt="Member Image" />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</uib-accordion>
</div>
