
<div ng-controller="ElementController">

	<script type="text/ng-template" id="upload-template.html">
		<div class="panel {{panelClass || 'panel-default'}}">
			<div class="panel-heading top-bottom-padding-5">
				<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
					<small><strong><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></strong></small>
				</a>
			</div>
			<div class="panel-collapse collapse" uib-collapse="!isOpen">
				<ul class="list-group">
					<li class="list-group-item crop">
						
						<div class="drop-box" accept="image/*,application/pdf"
							ngf-drop 
							ngf-select 
							ng-model="files"  
							ngf-drag-over-class="'dragover'" 
							ngf-multiple="true" 
							ngf-allow-dir="true"
							ngf-capture="'camera'" 
							ngf-pattern="'image/*,application/pdf'">
								<div class="btn btn-primary btn-sm text-center" role="button" ngf-select ng-model="files" ngf-multiple="true" ngf-capture="'camera'" >Select Files</div>
								<br><small>Drop images here or click to upload</small>
						</div>
						<div ngf-no-file-drop>
							File Drag/Drop is not supported for this browser
						</div>
						<!--<input type="file" onchange="angular.element(this).scope().fileSelected(this)" accept="image/*" id="fabricImgFile" ng-model="selectedImgFile"/>-->
					</li>
					<li class="list-group-item crop">
						Files:
						<ul>
							<li ng-repeat="f in files" style="font:smaller">{{ f.name }} {{ f.$error }} {{ f.$errorParam }}</li>
						</ul>
						Upload Log:
						<pre>{{ log }}</pre>
						<div class="panel-body" style="text-align: right" ng-transclude></div>
					</li>
				</ul>
			</div>
		</div>
	</script>
	
	<uib-accordion>
		<div uib-accordion-group heading="{{ uploads.title }}" template-url="upload-template.html" is-open="true">
			<table class="table table-condensed">
				<tbody>
					<tr ng-repeat="member in uploads.members">
						<td ng-click="selectElement(member)">
							<div class="row">
								<div class="col-sm-12">
									<img id="{{ member.elementId }}" ng-src="images/elements/{{ uploads.name }}/{{ member.img }}" class="img-thumbnail" alt="Member Image" />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div uib-accordion-group heading="{{ element.title }}" ng-click='loadElement(element)' ng-repeat="element in elements">
			<table class="table table-condensed">
				<tbody>
					<tr ng-repeat="member in element.members">
						<td ng-click="selectElement(member)">
							<div class="row">
								<div class="col-sm-12">
									<img id="{{ member.elementId }}" ng-src="images/elements/{{ element.name }}/{{ member.img }}" class="img-thumbnail" alt="Member Image" />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</uib-accordion>
</div>
