<!-- GENERAL TOOLS -->
<div class="panel panel-default" ng-controller="GeneralController">
	<div class="panel-heading" style="padding-bottom:5px;padding-top:5px">
		<small><strong>General</strong></small>
	</div> 
	<div class="panel-body">
	
		<div class="row bottom-space">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lb-12">
				<div class="input-group">
					<span colorpicker="rgb" class="input-group-addon" ng-model="canvas.bgColour" id="basic-addon1" ng-style="{ 'background-color' : canvas.bgColour }">
						<i class="fa fa-tint"></i>
					</span>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lb-12">
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="fitImage()">
						<i class="fa fa-arrows-alt"></i>
					</button>
				  </div>
				  <div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="remove()">
						<i class="fa fa-trash"></i>
					</button>
				  </div>
				</div>
			</div>
		</div>

	</div>
</div>